<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hera_restaurant.Properties.Settings.hera_restaurantConnectionString"
            connectionString="Data Source=LAPTOP-JSINC6IS\SQLEXPRESS01;Initial Catalog=hera_restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>